.root {
  z-index: var(--dd-events-list-header-z-index);
}

.columnHeader :global(.mantine-CloseButton-root) {
  opacity: 0;
}

.columnHeader:hover :global(.mantine-CloseButton-root) {
  opacity: 1;
}

.addColumnCell {
  width: 0;
}

@keyframes table-header-shadow {
  to {
    box-shadow: 5px 0 var(--shadow-size) black;
  }
}

.headerRowShadow {
  --shadow-size: 20px;

  position: absolute;

  /*
    When the header is positioned as 'sticky', its bottom border disappears when scrolled down,
    making difficult to differentiate the header from the rows. This pseudo-element is used to
    draw a border at the bottom of the header, so that it is always visible.
  */
  border-top: 1px solid var(--dd-border-color);
  margin-top: -1px;

  width: 100%;

  /*
    The goal of this hidden overflow is to crop the shadow on the sides, to keep the shadow only on
    the bottom.
  */
  overflow: hidden;

  height: 100px; /* give the shadow some space */
  pointer-events: none;
}

.headerRowShadow::after {
  content: '';

  width: calc(100% - var(--shadow-size));

  /* if the container has no height, the shadow is not quite visible. Set an arbitrary size */
  height: 20px;
  margin: -20px auto 0;

  display: block;
  animation: table-header-shadow linear both;
  animation-timeline: --dd-tab-scroll-timeline;
  animation-range: 0 35px; /* the thead is 35px tall */
}
