# Order is important, the last matching pattern takes the most precedence.

# Default
*    @Datadog/rum-browser

# Global
packages/rum/src/domain/record/**               @Datadog/rum-browser @Datadog/session-replay-sdk
packages/rum/src/domain/segmentCollection/**    @Datadog/rum-browser @Datadog/session-replay-sdk
packages/rum/src/domain/*.ts                    @Datadog/rum-browser @Datadog/session-replay-sdk
packages/rum/test/record/**                     @Datadog/rum-browser @Datadog/session-replay-sdk
test/e2e/scenario/recorder/**                   @Datadog/rum-browser @Datadog/session-replay-sdk

# Docs
/README.md    @Datadog/rum-browser @DataDog/documentation

# Debugger
packages/debugger                                               @Datadog/rum-browser @DataDog/debugger
packages/debugger/README.md                                     @Datadog/rum-browser @DataDog/debugger @DataDog/documentation
test/apps/instrumentation-overhead                              @Datadog/rum-browser @DataDog/debugger
test/e2e/scenario/debugger.scenario.ts                          @Datadog/rum-browser @DataDog/debugger
test/performance/scenarios/instrumentationOverhead.scenario.ts  @Datadog/rum-browser @DataDog/debugger
