# Note: While we mainly use Renovate, Dependabot is used for security updates

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: 'daily'
    open-pull-requests-limit: 0
    commit-message:
      prefix: "\U0001F477"
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: 'daily'
    open-pull-requests-limit: 0
    commit-message:
      prefix: "\U0001F477"
    ignore:
      # update karma-webpack: RUM-3130
      - dependency-name: 'karma-webpack'
