variables:
  APP: 'browser-sdk'
  CURRENT_CI_IMAGE: 20
  BUILD_STABLE_REGISTRY: '486234852809.dkr.ecr.us-east-1.amazonaws.com'
  CI_IMAGE: '$BUILD_STABLE_REGISTRY/ci/$APP:$CURRENT_CI_IMAGE'

stages:
  - ci-image
  - test
  - browserstack
  - pre-deploy-notify
  - deploy
  - notify

ci-image:
  stage: ci-image
  when: manual
  except: [tags, schedules]
  tags: ['runner:docker', 'size:large']
  image: $BUILD_STABLE_REGISTRY/docker:18.03.1
  script:
    - docker build --tag $CI_IMAGE .
    - docker push $CI_IMAGE

format:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn format

typecheck:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn typecheck

build-and-lint:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn build
    - yarn lint
    - scripts/cli typecheck test/app
    - scripts/cli typecheck test/e2e

build-bundle:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn build:bundle

compatibility:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn test:compat:tsc
    - yarn test:compat:ssr

unit:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  artifacts:
    reports:
      junit: test-report/unit/*.xml
  script:
    - yarn
    - yarn test:unit
    - ./scripts/codecov.sh

e2e:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  artifacts:
    when: always
    paths:
      - test-report/e2e/specs.log
    reports:
      junit: test-report/e2e/*.xml
  script:
    - yarn
    - yarn test:e2e

check-licenses:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - node --no-warnings scripts/check-licenses.js

unit-bs:
  except:
    refs:
      - master
      - tags
  stage: browserstack
  resource_group: browserstack
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  artifacts:
    reports:
      junit: test-report/unit-bs/*.xml
  script:
    - yarn
    - ./scripts/ci-bs.sh test:unit

e2e-bs:
  except:
    refs:
      - master
      - tags
  stage: browserstack
  resource_group: browserstack
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  artifacts:
    when: always
    reports:
      junit: test-report/e2e-bs/*.xml
    paths:
      - test-report/e2e-bs/specs.log
  script:
    - yarn
    - ./scripts/ci-bs.sh test:e2e

deploy-staging:
  only:
    refs:
      - master
  stage: deploy
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - BUILD_MODE=staging yarn build:bundle
    - ./scripts/deploy.sh staging

deploy-release:
  only:
    refs:
      - tags
  stage: deploy
  when: manual
  allow_failure: false
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - BUILD_MODE=release yarn build:bundle
    - ./scripts/deploy.sh prod

########################################################################################################################
# Notify
########################################################################################################################

include: 'https://gitlab-templates.ddbuild.io/slack-notifier/v1/template.yml'

notify-feature-branch-failure:
  extends: .slack-notifier.on-failure
  except:
    refs:
      - master
      - tags

notify-master-success:
  extends: .slack-notifier-base
  only:
    refs:
      - master
  script:
    - COMMIT_MESSAGE=`git show-branch --no-name HEAD`
    - COMMIT_URL="$CI_PROJECT_URL/commits/$CI_COMMIT_SHA"
    - 'MESSAGE_TEXT=":rocket: $CI_PROJECT_NAME <$COMMIT_URL|$COMMIT_MESSAGE> deployed to :datadog_staging:."'
    - postmessage "#rum-deploy" "$MESSAGE_TEXT"
    - postmessage "#rum-ops-stg" "$MESSAGE_TEXT"

notify-master-failure:
  extends: .slack-notifier-base
  when: on_failure
  only:
    refs:
      - master
  script:
    - COMMIT_MESSAGE=`git show-branch --no-name HEAD`
    - BUILD_URL="$CI_PROJECT_URL/pipelines/$CI_PIPELINE_ID"
    - 'MESSAGE_TEXT=":host-red: $CI_PROJECT_NAME master pipeline for <$BUILD_URL|$COMMIT_MESSAGE> failed."'
    - postmessage "#rum-deploy" "$MESSAGE_TEXT"

notify-release-ready:
  extends: .slack-notifier-base
  stage: pre-deploy-notify
  only:
    refs:
      - tags
  script:
    - COMMIT_MESSAGE=`git show-branch --no-name HEAD`
    - BUILD_URL="$CI_PROJECT_URL/pipelines/$CI_PIPELINE_ID"
    - 'MESSAGE_TEXT=":i: $CI_PROJECT_NAME <$BUILD_URL|$COMMIT_MESSAGE> ready to be deployed to :datadog:"'
    - postmessage "#rum-deploy" "$MESSAGE_TEXT"

notify-release-success:
  extends: .slack-notifier-base
  only:
    refs:
      - tags
  script:
    - COMMIT_MESSAGE=`git show-branch --no-name HEAD`
    - COMMIT_URL="$CI_PROJECT_URL/commits/$CI_COMMIT_SHA"
    - 'MESSAGE_TEXT=":rocket: $CI_PROJECT_NAME <$COMMIT_URL|$COMMIT_MESSAGE> deployed to :datadog:."'
    - postmessage "#rum-deploy" "$MESSAGE_TEXT"
    - postmessage "#rum-ops" "$MESSAGE_TEXT"

notify-release-failure:
  extends: .slack-notifier-base
  when: on_failure
  only:
    refs:
      - tags
  script:
    - COMMIT_MESSAGE=`git show-branch --no-name HEAD`
    - BUILD_URL="$CI_PROJECT_URL/pipelines/$CI_PIPELINE_ID"
    - 'MESSAGE_TEXT=":host-red: $CI_PROJECT_NAME release pipeline <$BUILD_URL|$COMMIT_MESSAGE> failed."'
    - postmessage "#rum-deploy" "$MESSAGE_TEXT"
