bundle
cjs
esm
node_modules
coverage
tunnel.log
local.log
specs.log
/test-report/
browserstack.err
package.tgz
docs/
*.tsbuildinfo
/developer-extension/.output
/developer-extension/.wxt

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/blob-report/
/playwright/.cache/
test-results/
playwright-report/
.vscode

# Fork maintenance scripts
FORK_SUMMARY.md
rename-dd-globals.sh
verify-renames.sh
create-pr.sh
