bundle
cjs
esm
node_modules
coverage
tunnel.log
local.log
specs.log
/test-report/
browserstack.err

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.VSCodeCounter
.env