variables:
  CURRENT_STAGING: staging-38
  APP: 'browser-sdk'
  CURRENT_CI_IMAGE: 70
  BUILD_STABLE_REGISTRY: 'registry.ddbuild.io'
  CI_IMAGE: '$BUILD_STABLE_REGISTRY/ci/$APP:$CURRENT_CI_IMAGE'
  GIT_REPOSITORY: 'git@github.com:DataDog/browser-sdk.git'
  MAIN_BRANCH: 'main'
  NEXT_MAJOR_BRANCH: 'v6'
  CHROME_PACKAGE_VERSION: 128.0.6613.84-1

cache:
  key:
    files:
      - yarn.lock
  paths:
    - .yarn/cache

stages:
  - task
  - ci-image
  - test
  - after-tests
  - browserstack
  - pre-deploy
  - deploy:canary
  - notify:canary
  - deploy
  - notify

.base-configuration:
  tags:
    - 'arch:amd64'
  image: $CI_IMAGE
  retry:
    max: 2
    when:
      - runner_system_failure

########################################################################################################################
# Branch selection helpers
########################################################################################################################

.test-allowed-branches:
  except:
    refs:
      - /^release\//
      - schedules

.bs-allowed-branches:
  except:
    refs:
      - main
      - /^mq-working-branch-staging-[0-9]+-[a-z0-9]+$/
      - /^staging-[0-9]+$/
      - /^release\//
      - schedules

.feature-branches:
  except:
    refs:
      - main
      - tags
      - /^staging-[0-9]+$/
      - /^release\//
      - schedules

.staging:
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CURRENT_STAGING

.main:
  only:
    refs:
      - main
  except:
    refs:
      - schedules
    variables:
      - $CI_COMMIT_TITLE =~ /^v[0-9.]+/

.tags:
  only:
    refs:
      - tags

########################################################################################################################
# CI image
########################################################################################################################

ci-image:
  stage: ci-image
  extends:
    - .base-configuration
    - .feature-branches
  when: manual
  tags: ['runner:docker', 'size:large']
  image: $BUILD_STABLE_REGISTRY/docker:18.03.1
  script:
    - docker build --build-arg CHROME_PACKAGE_VERSION=$CHROME_PACKAGE_VERSION --tag $CI_IMAGE .
    - docker push $CI_IMAGE

########################################################################################################################
# Tests
########################################################################################################################

format:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn format

woke:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn woke

typecheck:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn build
    - yarn typecheck
    - scripts/cli typecheck test/app
    - scripts/cli typecheck test/e2e

build-and-lint:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn build
    - yarn lint
    - node scripts/check-packages.js

test-performance:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  allow_failure: true
  script:
    - yarn
    - yarn build:bundle
    - node ./scripts/deploy/deploy.js staging pull-request pull-request
    - node ./scripts/performance/index.js

build-bundle:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn build:bundle

compatibility:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn test:compat:tsc
    - yarn test:compat:ssr

unit:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  artifacts:
    reports:
      junit: test-report/unit/*.xml
  script:
    - yarn
    - yarn test:unit
    - ./scripts/test/codecov.sh
  after_script:
    - node ./scripts/test/export-test-result.js unit

e2e:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  artifacts:
    when: always
    paths: ['test-report/e2e/specs.log']
    reports:
      junit: test-report/e2e/*.xml
  script:
    - yarn
    - FORCE_COLOR=1 yarn test:e2e
  after_script:
    - node ./scripts/test/export-test-result.js e2e

e2e-developer-extension:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - yarn test:e2e:developer-extension

check-licenses:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - node --no-warnings scripts/check-licenses.js

check-release:
  extends:
    - .base-configuration
    - .tags
  interruptible: true
  script:
    - yarn
    - BUILD_MODE=release yarn build
    - node scripts/release/check-release.js

check-schemas:
  extends:
    - .base-configuration
    - .test-allowed-branches
  interruptible: true
  script:
    - yarn
    - node scripts/check-schemas.js

unit-bs:
  stage: browserstack
  extends:
    - .base-configuration
    - .bs-allowed-branches
  interruptible: true
  resource_group: browserstack
  artifacts:
    reports:
      junit: test-report/unit-bs/*.xml
  script:
    - yarn
    - ./scripts/test/ci-bs.sh test:unit
  after_script:
    - node ./scripts/test/export-test-result.js unit-bs

e2e-bs:
  stage: browserstack
  extends:
    - .base-configuration
    - .bs-allowed-branches
  interruptible: true
  resource_group: browserstack
  timeout: 30 minutes
  artifacts:
    when: always
    paths: ['test-report/e2e-bs/specs.log']
    reports:
      junit: test-report/e2e-bs/*.xml
  script:
    - yarn
    - FORCE_COLOR=1 ./scripts/test/ci-bs.sh test:e2e
  after_script:
    - node ./scripts/test/export-test-result.js e2e-bs

########################################################################################################################
# Deploy
########################################################################################################################

deploy-feature:
  stage: deploy
  when: manual
  variables:
    SUFFIX: 'my-feature' #/datadog-[product]-${SUFFIX}.js
  extends:
    - .base-configuration
    - .feature-branches
  script:
    - export BUILD_MODE=canary
    - yarn
    - yarn build:bundle
    - node ./scripts/deploy/deploy.js staging $SUFFIX root

deploy-staging:
  stage: deploy
  extends:
    - .base-configuration
    - .staging
  script:
    - export BUILD_MODE=canary
    - yarn
    - yarn build:bundle
    - node ./scripts/deploy/deploy.js staging staging root
    - node ./scripts/deploy/upload-source-maps.js staging root

deploy-prod-canary:
  stage: deploy:canary
  extends:
    - .base-configuration
    - .main
  script:
    - export BUILD_MODE=canary
    - yarn
    - yarn build:bundle
    - node ./scripts/deploy/deploy.js prod canary root
    - node ./scripts/deploy/upload-source-maps.js canary root

deploy-manual:
  stage: deploy
  extends:
    - .tags
  trigger:
    include:
      - local: .gitlab/deploy-manual.yml

deploy-auto:
  stage: deploy
  extends:
    - .tags
  trigger:
    include:
      - local: .gitlab/deploy-auto.yml

########################################################################################################################
# Notify
########################################################################################################################

include: 'https://gitlab-templates.ddbuild.io/slack-notifier/v1/template.yml'

notify-feature-branch-failure:
  extends:
    - .slack-notifier.on-failure
    - .feature-branches

.prepare_notification:
  extends: .slack-notifier-base
  before_script:
    - COMMIT_MESSAGE=`git show-branch --no-name HEAD`
    - BUILD_URL="$CI_PROJECT_URL/pipelines/$CI_PIPELINE_ID"
    - COMMIT_URL="$CI_PROJECT_URL/commits/$CI_COMMIT_SHA"

notify-staging-failure:
  extends:
    - .prepare_notification
    - .staging
  when: on_failure
  script:
    - 'MESSAGE_TEXT=":host-red: $CI_PROJECT_NAME main pipeline for <$BUILD_URL|$COMMIT_MESSAGE> failed."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"

notify-prod-canary-success:
  stage: notify:canary
  extends:
    - .prepare_notification
    - .main
  script:
    - 'MESSAGE_TEXT=":rocket: $CI_PROJECT_NAME <$COMMIT_URL|$COMMIT_MESSAGE> deployed to :datadog:."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"
    - postmessage "#rum-browser-sdk-ops" "$MESSAGE_TEXT"

notify-prod-canary-failure:
  stage: notify:canary
  extends:
    - .prepare_notification
    - .main
  when: on_failure
  script:
    - 'MESSAGE_TEXT=":host-red: $CI_PROJECT_NAME release pipeline <$BUILD_URL|$COMMIT_MESSAGE> failed."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"

########################################################################################################################
# To staging CI
########################################################################################################################

staging-reset-scheduled:
  stage: task
  extends: .base-configuration
  only:
    variables:
      - $TARGET_TASK_NAME == "staging-reset-scheduled"
  before_script:
    - eval $(ssh-agent -s)
  script:
    - yarn
    - node scripts/staging-ci/staging-reset.js
  artifacts:
    reports:
      dotenv: build.env

staging-reset-scheduled-success:
  extends: .prepare_notification
  only:
    variables:
      - $TARGET_TASK_NAME == "staging-reset-scheduled"
  script:
    - 'MESSAGE_TEXT=":white_check_mark: [*$CI_PROJECT_NAME*] Staging has been reset from *${CURRENT_STAGING}* to *${NEW_STAGING}* on pipeline <$BUILD_URL|$COMMIT_MESSAGE>."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"
  dependencies:
    - staging-reset-scheduled

staging-reset-scheduled-failure:
  extends: .prepare_notification
  only:
    variables:
      - $TARGET_TASK_NAME == "staging-reset-scheduled"
  when: on_failure
  script:
    - 'MESSAGE_TEXT=":x: [*$CI_PROJECT_NAME*] Staging failed to reset from *${CURRENT_STAGING}* to *${NEW_STAGING}* on pipeline <$BUILD_URL|$COMMIT_MESSAGE>."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"
  dependencies:
    - staging-reset-scheduled

merge-into-staging:
  stage: pre-deploy
  extends:
    - .base-configuration
    - .main
  before_script:
    - eval $(ssh-agent -s)
  script:
    - yarn
    - node scripts/update-branch.js $CURRENT_STAGING

merge-into-next-major:
  stage: pre-deploy
  extends:
    - .base-configuration
    - .main
  before_script:
    - eval $(ssh-agent -s)
  script:
    - yarn
    - node scripts/update-branch.js $NEXT_MAJOR_BRANCH

check-staging-merge:
  stage: test
  extends:
    - .base-configuration
    - .feature-branches
  interruptible: true
  before_script:
    - eval $(ssh-agent -s)
  script:
    - yarn
    - node scripts/staging-ci/check-staging-merge.js

# A noop job that's used to signal to `to-staging` that it can merge to the
# staging branch, even though the pipeline is still running
tests-passed:
  stage: after-tests
  extends:
    - .base-configuration
    - .feature-branches
  interruptible: true
  script:
    - 'true'

# in after-tests to not block `to-staging` merge
check-squash-into-staging:
  stage: after-tests
  allow_failure: true
  extends:
    - .base-configuration
    - .feature-branches
  interruptible: true
  before_script:
    - eval $(ssh-agent -s)
  script:
    - yarn
    - node scripts/staging-ci/check-squash-into-staging.js

########################################################################################################################
# Bump e2e chrome version
########################################################################################################################

bump-chrome-version-scheduled:
  stage: task
  extends: .base-configuration
  only:
    variables:
      - $TARGET_TASK_NAME == "bump-chrome-version-scheduled"
  before_script:
    - eval $(ssh-agent -s)
  script:
    - yarn
    - node scripts/test/bump-chrome-version.js
  artifacts:
    reports:
      dotenv: build.env

bump-chrome-version-scheduled-success:
  extends: .prepare_notification
  only:
    variables:
      - $TARGET_TASK_NAME == "bump-chrome-version-scheduled"
  before_script:
    - '[ -z "$BUMP_CHROME_PULL_REQUEST_URL" ] && exit'
  script:
    - 'MESSAGE_TEXT=":chrome: [*$CI_PROJECT_NAME*] New Chrome version available on <$BUMP_CHROME_PULL_REQUEST_URL|PR>."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"
  dependencies:
    - bump-chrome-version-scheduled

bump-chrome-version-scheduled-failure:
  extends: .prepare_notification
  only:
    variables:
      - $TARGET_TASK_NAME == "bump-chrome-version-scheduled"
  when: on_failure
  script:
    - 'MESSAGE_TEXT=":x: [*$CI_PROJECT_NAME*] Chrome version bumped failed on pipeline <$BUILD_URL|$COMMIT_MESSAGE>."'
    - postmessage "#browser-sdk-deploy" "$MESSAGE_TEXT"
  dependencies:
    - bump-chrome-version-scheduled
