variables:
  APP: 'browser-agent'
  CURRENT_CI_IMAGE: 12
  BUILD_STABLE_REGISTRY: '486234852809.dkr.ecr.us-east-1.amazonaws.com'
  CI_IMAGE: '$BUILD_STABLE_REGISTRY/ci/$APP:$CURRENT_CI_IMAGE'

stages:
  - ci-image
  - test
  - unit-cbt
  - e2e-cbt
  - deploy
  - notify

ci-image:
  stage: ci-image
  when: manual
  except: [tags, schedules]
  tags: ['runner:docker', 'size:large']
  image: $BUILD_STABLE_REGISTRY/docker:18.03.1
  script:
    - docker build --tag $CI_IMAGE .
    - docker push $CI_IMAGE

format:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn format

lint:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn lint

build:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn build

unit:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn test

bundle-e2e:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn test:e2e:bundle

npm-e2e:
  stage: test
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - yarn test:e2e:npm

unit-cbt:
  except:
    refs:
      - master
      - prod
  stage: unit-cbt
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - ./ci-cbt.sh test:unit

e2e-cbt:
  except:
    refs:
      - master
      - prod
  stage: e2e-cbt
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - ./ci-cbt.sh test:e2e

deploy-staging:
  only:
    refs:
      - master
  stage: deploy
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - TARGET_DATACENTER=eu TARGET_ENV=staging VERSION=release yarn build:bundle
    - ./deploy.sh staging eu
    - TARGET_DATACENTER=us TARGET_ENV=staging VERSION=release yarn build:bundle
    - ./deploy.sh staging us

deploy-prod:
  only:
    refs:
      - prod
  stage: deploy
  tags: ['runner:main', 'size:large']
  image: $CI_IMAGE
  script:
    - yarn
    - TARGET_DATACENTER=eu TARGET_ENV=production VERSION=release yarn build:bundle
    - ./deploy.sh prod eu
    - TARGET_DATACENTER=us TARGET_ENV=production VERSION=release yarn build:bundle
    - ./deploy.sh prod us

include: 'https://gitlab-templates.ddbuild.io/slack-notifier/v1/template.yml'
notify-on-failure:
  extends: .slack-notifier.on-failure
