.App {
  text-align: left;
}

.App-logo {
  margin: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-view-accordion{
  width: 100%;
}

.App-view-card{
  width: 100%;
  border-radius: none;
  border: none;
}

.App-view-card-header {
  padding: 10px!important;
  background-color: #282c34!important;
  border-radius: 0!important;

}

.App-view-card-header:first-child{
  border-radius: 0!important;
}

.App-view-card-body {
  padding: 10px;
  background-color: #282c34;
}

.App-view-card-header-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: white;
}
