.site-menu .tsd-navigation > a[href='modules.html'] {
  display: none !important;
}

.site-menu .tsd-navigation > .tsd-accordion > .tsd-accordion-summary {
  display: none !important;
}

.site-menu .tsd-navigation > .tsd-accordion > .tsd-accordion-details {
  display: block !important;
}

.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation {
  margin-left: 0 !important;
}

.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation > li > details > summary,
.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation > li > a {
  font-weight: 600;
  padding: 0.88rem !important;
}

.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation .tsd-accordion-summary {
  display: flex !important;
}

.site-menu .tsd-navigation > a[href='modules.html'] {
  display: none !important;
}

.site-menu .tsd-navigation > .tsd-accordion > .tsd-accordion-summary {
  display: none !important;
}

.site-menu .tsd-navigation > .tsd-accordion > .tsd-accordion-details {
  display: block !important;
}

.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation {
  margin-left: 0 !important;
}

.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation > li > details > summary,
.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation > li > a {
  font-weight: 600;
  padding: 0.88rem !important;
}

.site-menu .tsd-navigation > .tsd-accordion .tsd-nested-navigation .tsd-accordion-summary {
  display: flex !important;
}

.tsd-navigation.settings {
  display: none !important;
}

.tsd-filter-visibility {
  display: none !important;
}

.tsd-theme-toggle {
  display: none !important;
}

.tsd-panel-group.tsd-index-group {
  display: none;
}

.tsd-panel.tsd-hierarchy {
  display: none;
}
