name: Publish Changelog to Confluence
permissions:
  contents: read
on:
  push:
    tags:
      - 'v*.*.*' # Matches version tags like v1.0.0, v6.7.0, etc.
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Prepare Only Changelog
        run: |
          mkdir -p publish_folder
          cp CHANGELOG.md publish_folder/browser-sdk-changelog.md
          echo "Publishing only CHANGELOG.md"

      - name: Publish Markdown to Confluence
        uses: markdown-confluence/publish-action@7767a0a7f438bb1497ee7ffd7d3d685b81dfe700 # v5
        with:
          confluenceBaseUrl: ${{ secrets.DATADOG_CONFLUENCE_BASE_URL }}
          confluenceParentId: ${{ secrets.CONFLUENCE_PARENT_ID }}
          atlassianUserName: ${{ secrets.CONFLUENCE_ROBOT_RUM_EMAIL }}
          atlassianApiToken: ${{ secrets.CONFLUENCE_ROBOT_RUM_API_KEY }}
          contentRoot: '.'
          folderToPublish: 'publish_folder'
